<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @payment.product %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @payment.quantity %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Status:</strong>
  <%= @payment.status %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
